<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>

<script type="text/javascript">
	function check(){
		let pw1 = $("#pw1").val();
		let pw2 = $("#pw2").val();
		if(pw1!=pw2){
			alert('비번이 일치하지 않습니다.');
			 $("#pw1").val("");
			 $("#pw2").val("");
			 $("#pw1").focus();
			return false;
		}
		return true;
	}
</script>
</head>
<body>

	안전한 비밀번호로 내정보를 보호하세요 다른 아이디/사이트에서 사용한 적 없는 비밀번호 이전에 사용한 적 없는 비밀번호가
	안전합니다.
	<hr />

	<form action="/member/updatePass" method="post" onsubmit="return check()">
		<input type="hidden" th:value="${session.loginVO.loginid}" name="loginid" /><br> 
		현재 비밀번호 입력 <br /> 
		<input type="password" 	placeholder="현재 비밀번호입력" name="password" required="required" /><br>
		새 비밀번호 입력 <br />
		<input type="password" placeholder="새 비밀번호 입력" id="pw1" required="required" name="newPassword" /><br> 
		새 비밀번호 확인 <br /> 
		<input type="password" id="pw2" required="required" /> <br>
		<input type="button" value="돌아가기"
			class="btn btn-sm btn-outline-danger" onclick="history.back();" />
		<input type="submit" value=" 변경하기"
			class="btn btn-sm btn-outline-danger" />
	</form>



</body>
</html>