<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.web01.dao.TestDAO">
	<!-- namespace와 인터페이스 이름이 일치해야 자동으로 구현된다. -->
	<select id="selectToday1" resultType="string">
		select sysdate from dual
	</select>
	<select id="selectToday2" resultType="java.util.Date">
		select sysdate from dual
	</select>
	<select id="selectToday3" resultType="TestVO">
		select sysdate as today from dual
	</select>
</mapper>  
