<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- appender(어디에 출력할 지)에서 콘솔에 출력되는 형식을 지정한다. -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>LocalLog :: [%-5level][%d{yy-MM-dd(E) HH:mm:ss}] :: %logger{100} :: %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/info.log</file> <!-- 파일을 저장할 경로를 정한다 -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch> <!-- 해당 레벨만 기록한다. -->
			<!-- 다른 수준의 레벨은 기록하지 않는다.(상위 레벨도 기록 안함), 상위 수준의 레벨에 대한 기록을 원하면 ACCEPT 로 하면	기록된다. -->
			<onMismatch>DENY</onMismatch> 
		</filter> 
		<!-- 레벨별 필터링이 필요없을 경우 filter class 관련된 부분을 삭제하면 됨 -->
		<encoder>
			<pattern>[%d{yy-MM-dd HH:mm:ss}] %-5level %logger{35} - %msg%n</pattern> <!-- 해당 패턴 네이밍으로 현재 로그가 기록됨 -->
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/info.%d{yyyy-MM-dd hh:mm}.%i.log.gz
			</fileNamePattern> <!-- 해당 패턴 네이밍으로 이전 파일이 기록됨 -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize> <!-- 한 파일의 최대 용량 -->
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>180</maxHistory> <!-- 한 파일의 최대 저장 기한 -->
		</rollingPolicy>
	</appender>
	<!-- 언제 출력할 것인지를 지정한다. -->
	<!-- SQL Logger -->
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="warn" />
		<appender-ref ref="STDOUT"/> 
	</logger>
	<logger name="jdbc.sqlonly" additivity="false"> 
		<level value="info"/> 
		<appender-ref ref="STDOUT"/> 
	</logger>
	<logger name="jdbc.audit" additivity="false"> 
		<level value="warn"/>  
		<appender-ref ref="STDOUT"/> 
	</logger> 
	<logger name="jdbc.resultset" additivity="false">
		<level value="warn" />
		<appender-ref ref="STDOUT"/> 
	</logger>
	<logger name="jdbc.resultsettable" additivity="false"> 
		<level value="warn"/>  
		<appender-ref ref="STDOUT"/> 
	</logger> 	
	<!-- Root Logger -->
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="INFO_LOG" />
	</root>
</configuration>
